.footer{
    width: 100%;
    background-color: black;
    margin-top: -3px;
    padding-top: 5px;
    padding-bottom: 5px;

}

.logo{
    width: 70%;
    margin-top: 10px;
}
a:hover{
    text-decoration: none;

}

.organizers-section {
    text-align: left;
    padding-left: 50px ;
}

.organizer-title {
    margin-top: 10px;
}

.organizer-mail {
    margin-bottom: 10px;
}

.best-section {
    text-align: left;
    padding-left: 50px;
}
