.dream{
    padding-left: 20px;
    text-align: left;
    margin-bottom: 150px;
}

.dream h1{

    font-size: 60px;
    font-weight: 400;
    padding-bottom: 50px;

}
strong{
    font-weight: 900;
}

