img{
    width: 80%;
}
.coreTeam{
    alignment: center   ;
}
.aboutBEST{
    margin-bottom: 50px;
}

.CT_image img {
    width: 100%;
}

.CT_image{
    margin-bottom: -40px;
    margin-top: 50px;
}
.CT_description{
    padding-top: 60px;
    padding-bottom: 30px;
    margin-bottom: 20px;
    margin-top: 20px;
}