.partners {
    text-align: center;
}

h2 {
    color: white;
    margin-bottom: 40px;

}

.Sdescription h3 {
    text-align: center;
    margin-top: 0px;
}

.SGimg {
    margin-top: -20px;
    padding: 20px;
}

.SGimg img{
    background-color: white;
}

.SG {
    margin-bottom: 40px;
}

.Sponsor {
    margin-bottom: 40px;
}

.love {
    width: 70%;
}

.Sdescription {
    text-align: left;
}

.Sdescription br {
    line-height: 170%;

}