.partners {
    text-align: center;
}

.partners h2 {
    color: white;
    margin-bottom: 40px;
    margin-top: 40px;
    letter-spacing: 5px;

}

.Sdescription h3 {
    text-align: center;
    margin-top: 0px;
}

.SGimg {
    margin-top: -200px;
    padding: 20px;
}

.SGimg img{
    background-color: white;
}

.SG {
    margin-bottom: 40px;
}

.Sponsor {
    margin-bottom: 40px;
}

.love {
    width: 70%;
}

.Sdescription {
    text-align: left;
    padding-left: 30px;
}

.Sdescription br {
    line-height: 170%;

}

.patroni_div {
    background-color: white;
}

.logoP1, .logoP2, .logoP3{
    width: 70%;
}

.logoP2{
    margin-top: 13%;
}

.logoP3{
    margin-top: 22%;
    margin-bottom:30px;
}

