.register {
    text-align: center;
}

.register input{
    border-radius: 0;
}

label{
    margin-left: 15px;
}

input {
    color: black;
}

.button {
    color: black;
}

.error { border: solid red;
    border-radius: 6px;
}

.form-message {
    display: inline-block;
    align-self: flex-start;
    flex: 1;
}

.odal div{
    display: flex;

    align-items: center;
    justify-content: center;
    width: 100%;
    height: 90%;
    background: rgba(0,0,0,0);
}

.daas{
    width: 100%;
    height: 100%;
    background-color: transparent;
    position: relative;
}

.qwe {
    display: block;
    background-color: transparent;
    margin-left: auto;
    margin-right: auto;
    position: absolute;               /* 2 */
    top: 55%;                         /* 3 */
    transform: translate(0, -50%);
}

.row-eq-height {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    flex-wrap: wrap;
}

.gray-out {
    opacity: 0.5;
}
