.register {
    text-align: center;
}
label{
    margin-left: 15px;
}

input {
    color: black;
}

.button {
    color: black;
}

.error { border: solid red;
    border-radius: 6px;
}

.form-message {
    display: inline-block;
    align-self: flex-start;
    flex: 1;
}

.form-dupa {
    display: flex;
    align-self: center;
    width: 100%;
    align-content: space-around;

}
.chuj {
    float:right;
}
