html,body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

body {
    font-family: 'Ubuntu', sans-serif;
    color: white;
    text-align: left;
    background: black url('./img/tlo.jpg') repeat-y;
    background-size: 100%;

}

body h1{
    font-family: 'Montserrat', sans-serif;
}

a {
    text-decoration: none;
    color: white;

}

a:visited {
    text-decoration: none;
    color: white;
}

a:hover{
    color: grey;
}




